* {
  box-sizing: border-box;
  margin: 0;
}

button {
  height: 50px;
  padding: 0.5em 1em; 
  font-size: 1rem;
  border-radius: 4px;
  background-color: none;
  cursor: pointer;
  position: relative;
  background: linear-gradient(#3784CB, #4AAD64) right / var(--p, 0) 100% no-repeat;
  transition: 0.3s, background-position 0s, background-color 0.3s, width 0.3s 0.3s, border-radius 0.3s 0.3s, font-size 0.3s, height 0.3s, padding 0.3s;
}

button:hover {
  --p: 100%;
  background-position: left;
  color: white;
  border: none;
}

.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.page .title {
  font-size: 3rem;
  font-weight: 600;
  padding: 0.5em;
}

.page .result {
  font-size: 1.5rem;
}

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  font-size: 1.2em;
}

.hero-title {
  font-size: 3em;
  font-weight: 700;
}

.green {
  color: #4AAD64;
}

.blue {
  color: #3784CB;
}